{% extends "backend_layout.html" %} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 mt-5">
      <div class="card shadow-lg p-3 rounded-3">
        <h2>➕ Shto Kategori</h2>

        <form action="">
          <!-- Emri i Kategorise -->
          <div class="mb-3">
            <label for="emri_kategorise" class="form-lable"
              >Emri i Kategorise:</label
            >
            <input type="text" name="emri_kategorise" class="form-control" />
          </div>

          <!-- Pershkrimi i Kategorise -->
          <div class="mb-3">
            <label for="pershkrimi_kategorise" class="form-lable"
              >Pershkrimi i Kategorise:</label
            >
            <input
              type="text"
              name="pershkrimi_kategorise"
              class="form-control"
            />
          </div>

          <!-- Button -->
          <div class="mb-3">
            <button class="btn btn-dark" type="submit">Ruaj</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
